table{
    margin: 10px auto;
}

td{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
}

p{
    visibility: hidden;
}

#black{
    background-color: black;
    color:#ffffff;
}

td:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

#black:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

h1{
    text-transform: uppercase;
    font-family: fantasy;
    text-align: center;
    font-size: 4em;
}